.formularioContacto{
    display: flex;
    justify-content: center;
    margin: 3rem;
    
}
.formularioContenido{
    margin: 1rem;
}
.contenidoFormulario{
    width:120%;
    height: 30px;
    border-color: #FBD4DC;
}
.formularioContenidoBoton{
    display: flex;
    justify-content: center;
    margin: 1rem;
     
}